!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!default.xcworkspace
*.hmap
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcworkspace
*~.nib
.DS_Store
.idea/
build/
build/*
DerivedData
Documentation/Generated
doxygenWarnings.txt
Pods
profile
xcuserdata

# CMake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Testing
CTestTestfile.cmake
Makefile
run_unit_tests

# Gtest stuf
ext/gtest-1.6.0/*.a
ext/googletest-read-only/*.a
.svn
/Default
